.button-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.btn {
    display: block;
    width: calc(100% - 20px);
    padding: 20px;
    margin: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    border: 2px solid #6fc0ba;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}
.btn:hover {
    background-color: #6fc0ba;
    color: #000;
}
